.DS_Store
__old_files/
__pycache__/
basketball_reference_web_scraper/
crontab.txt
data/.DS_Store
data/adv_stats
data/email/
data/mvp_predictions/.DS_Store
data/mvp_predictions/*/dev*
data/rank_progress
data/per_game_stats
data/player_images/
data/player_img_test/
data/standings
data/stats
data/player_slugs.csv
data/test_slugs.csv
nbamvp_ec2.pem
older_models/
src/__pycache__/
static/html/email_body.html
*.zip
