files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/dev_job.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/dev_job.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/prod_job.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/prod_job.log